@import url("./global.css");

body {
    background: linear-gradient(-45deg, #0d1e20 0%, #313e2a 70%, #262d20 97%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul li {
    padding: 0px 12px;
}

.nav-header-item {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.btn-header {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}