@import url("./global.css");

body {
    background: linear-gradient(45deg, #0d1e20 0%, #313e2a 70%, #262d20 97%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul li {
    padding: 0px 12px;
}

.nav-header-item {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.btn-header {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

main {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 80px 20px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h1 {
    width: 680px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title1);
    font-weight: 500;
}

.content-main p {
    width: 430px;
}

.section-our-work {
    background-color: var(--color-d-green);
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 60px;
}

.section-our-work h2 {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title2);
    font-weight: 500;
}

.container-our-work {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card-our-work {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-our-work {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.year-our-work {
    color: var(--color-orange80);
    font-size: var(--font-size-subtitle);
}

.model-our-work {
    font-size: var(--font-size-text1);
}

.btn-our-work {
    display: flex;
    align-self: self-end;
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}