@import url("./global.css");

body {
    background: linear-gradient(45deg, #0d1e20 0%, #313e2a 70%, #262d20 97%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header ul li {
    padding: 0px 12px;
}

.nav-header-item {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.btn-header {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

main {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 80px 20px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h1 {
    width: 680px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title1);
    font-weight: 500;
}

.content-main p {
    width: 430px;
}

.section-our-work {
    background-color: var(--color-d-green);
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 60px;
}

.section-our-work h2 {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title2);
    font-weight: 500;
}

.container-our-work {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card-our-work {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-our-work {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.year-our-work {
    color: var(--color-orange80);
    font-size: var(--font-size-subtitle);
}

.model-our-work {
    font-size: var(--font-size-text1);
}

.btn-our-work {
    display: flex;
    align-self: self-end;
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.section-cases {
    background: linear-gradient(to right, #323e2a 0%, #101815 100%);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 80px 20px; 
}

.content-cases {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
}

.span-cases {
    font-size: var(--font-size-subtitle);
}

.group-cases {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-cases {
    font-size: var(--font-size-title3);
    font-weight: 500;
}

.text-cases {
    width: 450px;
}

.btn-cases {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    width: 165px;
    color: var(--color-orange);
}

.amara {
    flex-direction: row-reverse;
    gap: 190px;
}

.section-victorian {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 80px 20px;
    background: linear-gradient(to right, #323e2a 0%, #101815 100%);
}

.content-victorian {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.content-victorian span {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-subtitle);
}

.content-victorian h2 {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title3);
    font-weight: 500;
}

.btn-victorian {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 120px 20px;
    background-color: var(--color-d-green);
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.content-contact h2 {
    width: 690px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title1);
    font-weight: 500;
    text-align: center;
}

.content-contact p {
    width: 674px;
    text-align: center;
}

.btn-contact {
    padding: 8px 16px 10px 16px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px 20px;
    background-color: var(--color-d-green);
}

.content-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.nav-footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-footer-item {
    color: var(--color-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text2);
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid var(--color-orange);
    width: 1200px;
}